<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbaohpu.springboot.module.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhangbaohpu.springboot.module.system.entity.Menu">
        <id column="id" property="id" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="name_us" property="nameUs" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="sort" property="sort" />
        <result column="is_parent" property="isParent" />
        <result column="code" property="code" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="language" property="language" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.id ,a.name ,a.name_us ,a.url ,a.parent_id ,a.parent_ids ,a.type
        ,a.sort, a.is_parent ,a.code ,a.perms ,a.icon ,a.language
        ,a.remarks
        ,a.create_by
        ,a.create_date
        ,a.update_by
        ,a.update_date
        ,a.del_flag
    </sql>

    <select id="listMenu" resultType="com.zhangbaohpu.springboot.module.system.entity.Menu">
        select
        <include refid="Base_Column_List"/>
        from t_menu a
        left join t_role_menu rm on a.id = rm.menu_id and rm.del_flag=0
        left join t_user_role ur on rm.role_id =ur.role_id and ur.del_flag=0
        where a.type in(0,1)
        <if test="map.userId!=null">
            and ur.user_id = #{map.userId}
        </if>
        and a.del_flag=0
        GROUP BY a.id
        order by a.type,a.sort
    </select>

</mapper>
